body {
  font: "Helvetica", sans-serif;
  text-align: center;
}

.banner {
  background-image: url('/Users/shaialexander/Dropbox/DevProjects/broadway/resources/images/the-flatiron-building.png');
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav {
  font-size: 18px;
  color: white;
}

h2 {
font-size: 32px;
font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('/Users/shaialexander/Dropbox/DevProjects/broadway/resources/images/the-flatiron-building.png');
}

p {
  font-size: 14px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
